<h2>Employee Main Page</h2>

<h3>Create new Employee</h3>

<form [formGroup]="registerform">
<div formGroupName="name">
    <input formControlName="firstname" placeholder="FirstName" #firstname><br><br>
    <input formControlName="lastname" placeholder="LastName" #lastname><br><br>
</div>
<input formControlName="email" placeholder="Email ID" #email><br><br>
<button type="button" (click)="updateName()">Enter</button>

<h3>Employee Details</h3>
<p>firstname = {{firstname.value}}</p>
<p>Lastname = {{lastname.value}}</p>
<p>Email id = {{email.value}}</p>
</form>


<button routerLink='add'>Add </button>&nbsp;&nbsp;&nbsp;
<button routerLink='edit'>Edit</button>

<router-outlet></router-outlet>